.headline {
  max-height: 17rem;
  width: 38.25rem;
  font-family: HelveticaNeue;
  font-size: 4.9vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
  color: white;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin: 2rem 0;
}

@media (min-width: 320px) and (max-width: 650px) {
  .headline {
    font-size: 3rem;
    padding: 0.1rem 0.2rem;
    width: 100%;
  }
}
@media (min-width: 660px) and (max-width: 950px) {
  .headline {
    font-size: 3.5rem;
    padding: 0.1rem 0.2rem;
  }
}
